@model IEnumerable<CRUD_Alumnos.Models.Materia>

@{
    ViewBag.Title = "Materias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materias</h2>

<p>
    @Html.ActionLink("Nueva Materia", "CrearMat")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdNotas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdNotas)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarMat", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "DetalleMat", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "DeleteMat", new { id=item.Id })
        </td>
    </tr>
}

</table>
