@model IEnumerable<CRUD_Alumnos.Models.Docente>

@{
    ViewBag.Title = "Docentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Docentes</h2>

<p>
    @Html.ActionLink("Nuevo Docente", "AgregarDoc")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            Materia
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombres)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Apellidos)
    </td>
    
    <td>
        @CRUD_Alumnos.Controllers.DocenteController.Nombre_Materia(item.IdMateria)
    </td>
    <td>
        @Html.ActionLink("Editar", "EditarDoc", new { id = item.Id }) |
        @Html.ActionLink("Detalles", "DetalleDoc", new { id = item.Id }) |
        @Html.ActionLink("Eliminar", "DeleteDoc", new { id = item.Id })
    </td>
</tr>
}

</table>
