@model IEnumerable<CRUD_Alumnos.Models.Alumno>

@{
    ViewBag.Title = "Lista de Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Alumnos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            NombreCompleto
        </th>
        <th>
            Edad
        </th>
        <th>
            Sexo
        </th>
        <th>
            FechaRegistro
        </th>
        <th>
            Ciudad
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NombreCompleto)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Edad)
    </td>
    <td>
        @{
            if (item.Sexo == "M")
            {
                <span>Masculino</span>
            }
            else
            {
                <span>Femenino</span>
            }
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaRegistro)
    </td>

    <td>
        @CRUD_Alumnos.Controllers.AlumnoController.NombreCiudad(item.codCiudad)
    </td>
    <td>
        @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id }, new { @class = "aelimina" })
    </td>
</tr>
}

</table>
    @section scripts{
        <script>
            $(".aElimina").click(function (event) {
                if (!confirm("Estás seguro de eliminar?")) {
                    event.preventDefault();
                }
            });
        </script>
        }